@media all and (max-width: 475px) {
    #pic-villa-duleeka {
        width: 230px;
    }
}
@media all and (max-width: 420px) {
    #pic-villa-duleeka {
        width: 200px;
    }
}

@media all and (max-width: 375px) {
    #pic-villa-duleeka {
        width: 200px;
    }

    .header-main-div{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media all and (max-width: 320px) {
    #pic-villa-duleeka {
        width: 170px;
        height: 80px;
    }

    .header-main-div{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media all and (max-width: 275px) {
    #pic-villa-duleeka {
        width: 140px;
        height: 65px;
    }

    .header-main-div{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (max-width: 800px) {
    .mySlider {
        height: 500px;
    }

    .text {
        letter-spacing: 2px;
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }


    @keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }

    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 13px;
    }

}

@media all and (max-width: 520px){
    .text h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

}