@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hind:wght@500&family=Josefin+Sans&family=Libre+Baskerville:wght@700&family=Roboto:wght@500&display=swap');

header > nav > div {
    background-color: #2b2c30;
}

.header-main-div {
    padding-left: 50px;
    padding-right: 50px;
}

.site-map {
    font-family: 'Hind', sans-serif;
    /*text-align: center;*/
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
    font-style: normal;
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

.site-map:hover {
    color: #f9c315;
}

#pic-villa-duleeka {
    background: url("/assest/images/VILLA-DULEEKA01.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 100px;
}

.contact-box {
    background-color: #1b1b1f;
    height: 80px;
    width: 200px;
    border-radius: 8px;
}

#contact-num {
    color: #f9c315;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#contactUS {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #999;
    font-size: 20px;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.slider {
    background: #2c3e50;
}

.mySlider {
    height: 620px;
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    user-select: none;
    text-decoration: none;
}

.prev:hover, .next:hover {
    color: #3498db;

}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active, .dot:hover {
    border-color: #f9c315; /* blue */
}

.fades {
    -webkit-animation-name: fades;
    -webkit-animation-duration: 1.5s;
    animation-name: fades;
    animation-duration: 1.5s;
}

@-webkit-keyframes fades {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes fades {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.text {
    position: absolute;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 35px;
    bottom: 15%;
    left: 5%;
    /*-webkit-animation-name: posi;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-name: posi;*/
    /*animation-duration: s;*/
    z-index: 1;
}

/*@-webkit-keyframes posi {*/
/*    from {*/
/*        top: 25%;*/
/*    }*/
/*    to {*/
/*        bottom: 15%;*/
/*    }*/
/*}*/

/*@keyframes posi {*/
/*    from {*/
/*        top: 25%;*/
/*    }*/
/*    to {*/
/*        bottom: 15%;*/
/*    }*/
/*}*/

.text h1 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 68px;
}

.img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    animation-duration: 40s;
    animation-name: zoomin;
    -webkit-animation-duration: 40s;
}

.side-btn > a {
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 20px 60px 20px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    background: #f9c315;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
}

.side-btn > a::before {
    background-color: #26282c;
    content: "";
    height: 100px;
    left: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: -1;
}

.side-btn > a::after {
    content: "ï…¸";
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    position: absolute;
    right: 0px;
    color: rgb(34, 35, 39);
    top: 0px;
    width: 50px;
    height: 54px;
    line-height: 54px;
    background: rgb(221, 169, 2);
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

.slider > :nth-child(1) > .img {
    background: url("/assest/images/IMG_101.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(2) > .img {
    background: url("/assest/images/IMG_1072.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(3) > .img {
    background: url("/assest/images/IMG_1073.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(4) > .img {
    background: url("/assest/images/IMG_1075.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(5) > .img {
    background: url("/assest/images/IMG_1076.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(6) > .img {
    background: url("/assest/images/IMG_1077.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(7) > .img {
    background: url("/assest/images/IMG_1078.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(8) > .img {
    background: url("/assest/images/IMG_1081.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(9) > .img {
    background: url("/assest/images/IMG_1082.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slider > :nth-child(10) > .img {
    background: url("/assest/images/IMG_1083.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
